<footer
  class="text-white w-100"
  style="background: #000000; bottom: 0 ; z-index: 21 !important;margin-top: 30px;"
>
  <div class="container" style="padding: 0">
    <div class="row" style="padding: 50px 40px; margin: 0 !important">

        <div class="col-md-6 contacts">
            <h4 style="color: #f00505">BLINKTICKETS</h4>
            <div>
              <ul style="list-style: none; margin: 0px !important; padding: 0px">
                <li class="mt-3">
                    <i class="fa-solid fa-envelope" style="color: #f00505"></i>
                    <span class="ml-2">
                      <a href="">support&#64;blincktickets.com</a>
                    </span>
                  </li>
                
                <li class="mt-3">
                  <i class="fa-solid fa-phone" style="color: #f00505"></i>
                  <span class="ml-1">
                    +(470)91 930 955 4954 
                  </span>
                </li>
                
              </ul>

              <div class="social mt-4">
                <ul
                  class="d-flex"
                  style="
                    list-style: none;
                    margin: 0px !important;
                    padding: 0px;
                    cursor: pointer;
                  "
                >
                  <li class="mx-2">
                    <a href="#" target="_new" style="padding: 10px 12px;"><i class="fab fa-facebook-f"></i></a>
                  </li>
                  <li class="mx-2">
                    <a href="#" target="_new"><i class="fab fa-instagram"></i></a>
                  </li>
                  <li class="mx-2">
                    <a href="#" target="_new"
                      ><i class="fa-brands fa-whatsapp"></i
                    ></a>
                  </li>
                  <li class="mx-2">
                    <a href="#" target="_new"><i class="fab fa-twitter"></i></a>
                  </li>
                </ul>
              </div>
            </div>
          </div>
      <div class="col-md-3 contacts">
        <h4 style="color: #f00505">Quick Links</h4>
        <div>
          <ul style="margin: 0px !important; padding: 0px; list-style: none">
            <!-- <li class="mt-2">
              <a routerLink="">Home</a>
            </li>
            <li class="mt-2">
              <a routerLink="">Why Us</a>
            </li>
            <li class="mt-2">
              <a routerLink="">How it Works</a>
            </li>
            <li class="mt-2">
              <a routerLink="">Premium Member</a>
            </li>
            <li class="mt-2">
              <a routerLink="">About</a>
            </li> -->
            <li class="mt-2">
              <a routerLink="">Term & Conditions</a>
            </li>
            <li class="mt-2">
              <a routerLink="">Contact Us</a>
            </li>
            <li class="mt-2">
              <a routerLink="">FAQ</a>
            </li>
          </ul>
        </div>
      </div>

     

      <div class="col-md-3 d-flex justify-content-end followUs">
        <div>
          <h4 style="color: #f00505">About</h4>
          <ul style="margin: 0px !important; padding: 0px; list-style: none">
            <li class="mt-2">
              <a routerLink="">About us</a>
            </li>
            <li class="mt-2">
              <a routerLink="">Contact Us</a>
            </li>
            <li class="mt-2">
              <a routerLink="">Feedback</a>
            </li>
            
          </ul>
         
        </div>
      </div>
    </div>

    <hr />
    <div class="d-flex justify-content-center copyright">
      <div class="copyright-left" style="padding-left: 5%">
        <p> All Rights Reserved</p>
      </div>
     
    </div>
  </div>
</footer>




